<%= form_with model: @comment do |f| %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :body %>
    <%= f.text_area :body, size: "60x10" %>
    <%= f.submit %>
    </div>
<% end %>