<%= form_with model: @comment do |f| %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :body %>
    <%= f.text_area :body, size: "60x10" %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :user_id, value: @post.user_id %>
    <%= f.submit %>
    </div>
<% end %>