<h1><%= "Available Posts" %></h1>
<% @posts.each do |post| %>
    <h1><%= "Tilte: " %><%= post.title %></h1>
    <h3><%= "Body Of Post: " %><%= post.body %></h3>
    <%= link_to "Edit Post",edit_post_path(post) %>
    <%= link_to "Delete Post",post_path(post,value: "temporary"),method: :delete,data: {confirm: "Are you sure to Delete Post?"} %>
    </br></br>
    <% post.comments.each do |comment| %>
        <%= "Title Of Comment: " %><%= comment.title %></br>
        <%= "Body Of Comment: " %><%= comment.body %>
        </br></br>
        <%= link_to "Edit Comment",edit_comment_path(comment) %>
        <%= link_to "Delete Comment",comment_path(comment,value: "temporary"),method: :delete,data: {confirm: "Are you sure to Delete Comment?"} %> 
    <% end %>
    </br></br>
    <%= link_to "New Comment",new_comment_path(post_id: post.id) %>
    </br></br>
<% end %>
<%= will_paginate @posts %>
</br></br>
<%= link_to "Add New Post" ,new_post_path %>
</br></br>
<h1><%= "Deleted Posts" %></h1>
<% @posts_deleted.each do |post| %>
    <h2><%= "Title: " %><%= post.title %></h2>
    <h3><%= "Body Of Post: " %><%= post.body %></h3>
    <% post.comments.only_deleted.each do |comment| %>
        <h2><%= "Title Of Comment: " %><%= comment.title %></h2>
        <h3><%= "Body Of Comment: " %><%= comment.body %></h3>
        <%= link_to "Delete Comment",comment_path(comment,value: "permanent"),method: :delete,data: {confirm: "Are you sure to Delete Post?"} %>
    <% end %>
    </br></br>
    <%= link_to "Recover Post" ,recovery_path(post_id: post.id)%>
    <%= link_to "Delete Post",post_path(post,value: "permanent"),method: :delete,data: {confirm: "Are you sure to Delete Post?"} %>
    <% end %>
</br></br>
<%= will_paginate @posts_deleted %>