<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= "Post By " %><%= current_user.email %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @post.title %></p>
      <h5 class="card-title"><%= @post.body %></h5>
      <%= link_to 'Edit Post', edit_post_path(@post), :remote => true,class: 'btn btn-primary btn-lg' %>
      <%= link_to "Delete Post",post_path(@post,value: "temporary"), class: 'btn btn-danger btn-lg',method: :delete,data: {confirm: "Are you sure to Delete Post?"} %>
      <%= link_to 'Show Comment', comments_path(post_id: @post.id),class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="card-footer text-muted">
      <%= "Created On "%><%= @post.created_at.strftime("%d/%m/%Y") %>
      <%= " And Updated On "%><%= @post.updated_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
</div>

<%= image_tag @post.avatar.url%>

<div id="modal-new-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>